@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans&family=Prompt&family=Roboto:wght@100;300&family=Source+Sans+Pro:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3f3572; 
}

body {
    background: #ece3fa;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px, 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header .navbar {
    margin-top:35px;
    margin-right: 50px;
}

.header img {
    height: 100%;
    margin-left: 50px;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 32px;
    display: none;
}

#toggle-menu {
    display: none ;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

.navbar-link {
    text-decoration: none;
}

.navbar-link:hover {
   color: #b1a5e3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#hero {
    max-width: 850px;
    margin-top: 80px;
    display: flex;
    padding: 70px 0px;
    width: 80%;
    justify-content: center;
    background: rgb(174,218,238);
    background: radial-gradient(circle, rgba(174,218,238,1) 0%, rgba(208,199,251,1) 100%); 
}

.hero-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-presentation h1 {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.hero-presentation h1 span {
    color: aliceblue;
}

.hero-presentation p {
    font-weight: 300px;
    font-size: 14px;
    max-width: 350px;
}

.button-container {
    display: flex;
    gap: 15px;
}

.button-container a {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;
}

.primary-btn {
    background-color: black;
    color: #B1A5E3;
}

.alt-btn{
    color: black;
}

#hero img {
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 30px 38px 24px; 
}

#about {
    background: #f1ecf9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 850px;
    padding: 50px 20px;
    font-weight: 300;
    text-align: center;
}

#beneficios {
    background: rgb(174,218,238);
    background: radial-gradient(circle, rgba(174,218,238,1) 0%, rgba(208,199,251,1) 100%);
    width: 80%;
    max-width: 850px;
    padding: 30px 20px;
    font-weight: 300;
    text-align: center;
    gap: 50px;
}

#beneficios h1 {
    color: aliceblue;
}

#beneficios h1 , #beneficios p{
    padding: 15px;
}

.beneficios-content {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.benef-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.beneficios-items:hover {
    animation: escalaitems 2.5s linear 0s infinite alternate;
}

@keyframes escalaitems {
    from {
        transform: scale(0.9);
    }   
    to {
        transform: scale(1.0);
    }
}

#products {
    max-width: 850px;
    width: 80%;
    background: #f1ecf9;
    text-align: center;
}

#products h1 {
    padding: 20px;
    color: #b1a5e3;
}

#products p {
    padding: 10px;
    color: #b1a5e3;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-item {
    margin: 30px 10px;
    max-width: 225px;
    height: 300px;
    background-color: aliceblue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    text-align: left;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-item .alt-btn {
    margin-bottom: 5px;
    max-width: 100px;
    text-decoration: none;
    border: 3px solid #3f3572;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600
}

.card-item:hover {
    animation: escala 2s ease 0s infinite alternate ;
}

@keyframes escala {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
.card-item .alt-btn:hover {
    background-color:#f1ecf9;
}

.infocard {
    margin: 20px 20px 0 20px;
    width: 175px;
    height: 175px;
    border-radius: 5px;
}

#contact {
    width: 80%;
    max-width: 850px;
    padding: 30px 20px;
    font-weight: 300;
    text-align: left;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.cntc-icn {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.contacto iframe {
    margin: 15px;
    max-width: 300px;
    max-height: 300px;
}

.contacto h1, .contacto p, .contacto a{
    padding: 20px;
    color: #b1a5e3;
}

.contacto a {
    text-decoration: none;
}

.contacto p a:hover {
    color: black;
}

footer {
    height: 50px;
    text-align: center;
}
footer p {
    padding: 15px;
}

@media (max-width: 992px) {
    #hero {
        width: 80%;
    }
    .hero-presentation {
        text-align: left;
        align-items: center;
    }
    .hero-presentation h1 {
       /* display: block;*/
    }
    .hero-presentation p {
        max-width: 80%;
        font-size: 16px;
        text-align: center;
    }
    .button-container{
        justify-content: center;
    }
    .hero-img {
        display: none;
    }
    #about {
        font-size: 15px;
    }
    .beneficios-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 840px) {
    #contact {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .navbar ul {
        background-color: white;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    } 
    .navbar i {
        display: block;
    }
    #toggle-menu:checked ~ .navbar-list {
        transform: translate(0%);
        transition: all 0.4s ease-in;
    }
    .hero-presentation p {
        max-width: 100%;
    }

    #contact {
        display: flex;
        flex-direction: column;
    }
    .contacto iframe {
        max-width: 200px;
        max-height: 200px;
    }
}
