@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans&family=Prompt&family=Roboto:wght@100;300&family=Source+Sans+Pro:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px, 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header .navbar {
    margin-top:35px;
    margin-right: 50px;
}

.header img {
    height: 100%;
    margin-left: 50px;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none ;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero {
    margin-top: 80px;
    display: flex;
    padding: 70px 0px;
    width: 90%;
    justify-content: center;
    background: #757F9A;  
    background: -webkit-linear-gradient(to right, #B1A5E3, #757F9A);  
    background: linear-gradient(to right, #B1A5E3, #757F9A); 
}

.hero-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-presentation h1 {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.hero-presentation p {
    font-weight: 300px;
    font-size: 14px;
    max-width: 350px;
}

.button-container {
    display: flex;
    gap: 15px;
}

.button-container a {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;
}

.primary-btn {
    background-color: black;
    color: #B1A5E3;
}

.alt-btn{
    color: black;
}

#hero img {
    width: 300px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 850px;
    padding: 30px 0px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 992px) {
    .hero-presentation {
        text-align: center;
        width: 90%;
        align-items: center;
    }
    .hero-presentation h1 {
        display: block;
        width: 100%;
    }
    .hero-presentation p {
        max-width: 80%;
        font-size: 16px;
    }
    .button-container{
        justify-content: center;
    }
    .hero-img {
        display: none;
    }
    #about {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .navbar ul {
        background-color: white;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    } 
    .navbar i {
        display: block;
    }
    #toggle-menu :checked + .navbar-list {
        transform: translate(0%);
        transition: all 0.4s ease-in;
    }
    .hero-presentation p {
        max-width: 100%;
    }
}